---
layout: default
---
{% for banner in site.data.banner %}
<div class="hero" style="background-image: url('{{banner.background}}')">
  <div class="content">
    <h1>{{banner.title}}</h1>
    <p>{{banner.description}}</p>
  </div>
  <img src="{{banner.floating_logo}}">
</div>
{% endfor %}

<section id="our-capabilites" class="mt-2">
  <p class="text-center">Sentient System is a self-learning simulation engine - test learned or theoretical scenarios (or a combination of both) to evaluate<br> optimise and manage their real-time impact to complex or simple systems.</p>

  <h1 class="title text-center has-subtitle">Our Capabilities</h1>
  <p class="sub-title text-center">How does it works?</p>

  <div class="blurb-4">
    <div class="row mt-4">
      {% for item in site.data.capabilities %}
        <div class="item col-md-3 col-xs-12">
          <div class="icon"><img src="{{ item.icon }}"></div>
          <h3>{{ item.name }}</h3>
          <p>{{ item.description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="your-outcomes">
  <h1 class="title text-center has-subtitle">Your Outcomes</h1>
  <p class="sub-title text-center">What you’ll achieve with Sentient System</p>

  <div class="blurb-3">
    <div class="row mt-4">
      {% for item in site.data.outcomes %}
        <div class="item col-md-4 col-xs-12">
          <div class="icon"><img src="{{ item.icon }}"></div>
          <h3>{{ item.name }}</h3>
          <p>{{ item.description }}</p>        
          <a class="text-center" href="{{ item.target_url }}">Learn more ></a>
        </div>
      {% endfor %}
    </div>
  </div>
  <p class="text-center mt-3 mb-3"><a href="#contact-us" class="btn btn-brand">FREE VIRTUAL STRATEGY SESSION</a></p>
</section>

<section id="your-role">
  <h1 class="title text-center has-subtitle">What is your role?</h1>
  <p class="sub-title text-center">Learn how we can help.</p>
  
  <div class="blurb-image">
    <div class="row mt-4">
      {% for item in site.data.your_role %}
        <div class="item col-md-3 col-xs-12">
          <div class="image">
            <span class="subtitle">{{ item.subtitle }}</span>
            <img src="{{ item.image }}">
          </div>
          <h3>{{ item.title }}</h3>
          <p>{{ item.description }}</p>
          <a class="text-center" href="{{ item.target_url }}">Learn more ></a>
        </div>
      {% endfor %}
    </div>
  </div>

</section>

<section id="common-issues">
  <h1 class="title text-center has-subtitle">Common issues we Address</h1>
  <p class="sub-title text-center">What will Sentient System help you do in your business?</p>
  <div class="blurb-image">
    <div class="row mt-4">
      {% for item in site.data.common_issues %}
        <div class="item col-md-3 col-xs-12">
          <div class="image">
            <span class="subtitle">{{ item.subtitle }}</span>
            <img src="{{ item.image }}">
          </div>
          <h3>{{ item.title }}</h3>
          <p>{{ item.description }}</p>
          <a class="text-center" href="{{ item.target_url }}">Learn more ></a>
        </div>
      {% endfor %}
    </div>
  </div>
  <p class="text-center mt-3 mb-3"><a href="#contact-us" class="btn btn-brand">FREE VIRTUAL STRATEGY SESSION</a></p>
</section>