---
layout: default
---
{% for banner in site.data.banner %}
<div class="hero" style="background-image: url('{{banner.background}}')">
  <div class="content">
    <h1>{{banner.title}}</h1>
    <p>{{banner.description}}</p>
  </div>
  <img src="{{banner.floating_logo}}">
</div>
{% endfor %}

<section id="our-capabilites" class="mt-2">
  <p class="text-center">Sentient System is a self-learning simulation engine - test learned or theoretical scenarios (or a combination of both) to evaluate<br> optimise and manage their real-time impact to complex or simple systems.</p>

  <h1 class="title text-center has-subtitle">Our Capabilities</h1>
  <p class="sub-title text-center">How does it works?</p>

  <div class="blurb-4">
    <div class="row mt-4">
      {% for item in site.data.capabilities %}
        <div class="item col-lg-3 col-md-6 col-sm-12">
          <div class="icon"><img src="{{ item.icon }}"></div>
          <h3>{{ item.name }}</h3>
          <p>{{ item.description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="your-outcomes">
  <h1 class="title text-center has-subtitle">Your Outcomes</h1>
  <p class="sub-title text-center">What you’ll achieve with Sentient System</p>

  <div class="blurb-3">
    <div class="row mt-4">
      {% for item in site.data.outcomes %}
        <div class="item col-lg-4 col-md-6 col-sm-12">
          <div class="icon"><img src="{{ item.icon }}"></div>
          <h3>{{ item.name }}</h3>
          <p>{{ item.description }}</p>        
          <a class="text-center" href="{{ item.target_url }}">Learn more ></a>
        </div>
      {% endfor %}
    </div>
  </div>
  <p class="text-center mt-3 mb-3"><a href="#contact-us" class="btn btn-brand">FREE VIRTUAL STRATEGY SESSION</a></p>
</section>

<section id="your-role">
  <h1 class="title text-center has-subtitle">What is your role?</h1>
  <p class="sub-title text-center">Learn how we can help.</p>
  
  <div class="blurb-image">
    <div class="row mt-4">
      {% for item in site.data.your_role %}
        <div class="item col-lg-3 col-md-6 col-sm-12">
          <div class="image">
            <span class="subtitle">{{ item.subtitle }}</span>
            <img class="img-fluid" src="{{ item.image }}">
          </div>
          <h3>{{ item.title }}</h3>
          <p>{{ item.description }}</p>
          <a class="text-center" href="{{ item.target_url }}">Learn more ></a>
        </div>
      {% endfor %}
    </div>
  </div>

</section>

<section id="common-issues">
  <h1 class="title text-center has-subtitle">Common issues we Address</h1>
  <p class="sub-title text-center">What will Sentient System help you do in your business?</p>
  <div class="blurb-image">
    <div class="row mt-4">
      {% for item in site.data.common_issues %}
        <div class="item col-lg-3 col-md-6 col-sm-12">
          <div class="image">
            <span class="subtitle">{{ item.subtitle }}</span>
            <img class="img-fluid" src="{{ item.image }}">
          </div>
          <h3>{{ item.title }}</h3>
          <p>{{ item.description }}</p>
          <a class="text-center" href="{{ item.target_url }}">Learn more ></a>
        </div>
      {% endfor %}
    </div>
  </div>
  <p class="text-center mt-3 mb-3"><a href="#contact-us" class="btn btn-brand">FREE VIRTUAL STRATEGY SESSION</a></p>
</section>

<section id="how-does-it-work">
  <h1 class="title text-center has-subtitle">How does it work?</h1>
  <p class="sub-title text-center">How does Sentient System integrate into your business?</p>

  <div class="wrapper">
    <div class="instrument-input">
      <div class="row pt-3">
        <div class="col-md-3 col-sm-12 text-center">
          <img height="50px" src="./assets/images/FORMS.png">
          <h3>Forms</h3>
        </div>
        <div class="col-md-3 col-sm-12 text-center">
          <img height="50px" src="./assets/images/IOT.png">
          <h3>IOT</h3>
        </div>
        <div class="col-md-3 col-sm-12 text-center">
          <img height="50px" src="./assets/images/CONTROLSYSTEM.png">
          <h3>Control System</h3>
        </div>
        <div class="col-md-3 col-sm-12 text-center">
          <img height="50px" src="./assets/images/FORMS.png">
          <h3>Forms</h3>
        </div>
        <div class="col-md-12 col-sm-12 pt-1 pb-1"><h2 class="text-center">INSTRUMENT INPUT</h2></div>
      </div>
    </div>

    <div class="concept">
      <div class="row pt-3 pl-5 pr-5">
        <div class="col-md-10 col-sm-12 text-left">
          <h2>CONCEPTUALISE | VALIDATE | LEARN</h2>
        </div>
        <div class="col-md-2 col-sm-12 text-right mb-1">
          <img src="./assets/images/KNOWLEDGE.png">          
        </div>
      </div>
    </div>

    <div class="simulate">
      <div class="row pt-3 pl-5 pr-5">
        <div class="col-md-2 col-sm-12 text-left mb-1">
          <img src="./assets/images/TWINS.png">          
        </div>
        <div class="col-md-10 col-sm-12 text-right">
          <h2>SIMULATE THROUGH DIGITAL TWIN</h2>
        </div>
      </div>
    </div>

    <div class="analyse">
      <div class="row pt-3">
        <div class="col-md-2 col-sm-12 offset-md-1 text-center">
          <img height="50px" src="./assets/images/EARLYWARNING.png">
          <h3>Early warnings</h3>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <img height="50px" src="./assets/images/PREDICTION.png">
          <h3>Prediction</h3>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <img height="50px" src="./assets/images/OPTIMISATION.png">
          <h3>Optimisation</h3>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <img height="50px" src="./assets/images/DESCISION-MAKING.png">
          <h3>Decision Making</h3>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <img height="50px" src="./assets/images/REALTIME.png">
          <h3>Real-Time Control</h3>
        </div>
        <div class="col-md-12 col-sm-12 pt-1 pb-1"><h2 class="text-center">ANALYSE</h2></div>
      </div>
    </div>

    <div class="execute">
      <div class="row pt-3">
        <div class="col-md-2 col-sm-12 offset-md-1 text-center">
          <img height="50px" src="./assets/images/CONTROLSYSTEMS2.png">
          <h3>Control Systems</h3>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <img height="50px" src="./assets/images/BUSINESSYSTEMS2.png">
          <h3>Business Systems</h3>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <img height="50px" src="./assets/images/CONTROLSYSTEM.png">
          <h3>Control System</h3>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <img height="50px" src="./assets/images/BUSINESSYSTEMS.png">
          <h3>Business Systems</h3>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <img height="50px" src="./assets/images/REPORTINGSYSTEMS.png">
          <h3>Reporting Systems</h3>
        </div>
        <div class="col-md-12 col-sm-12 pt-1 pb-1"><h2 class="text-center">EXECUTE</h2></div>
      </div>
    </div>

  </div>
</section>