---
layout: default
title: Research
permalink: /research/
---
<a id="back_to_top" href="#" class="off">
    <span class="fa-stack">
        <i class="fa fa-angle-up " style=""></i>
    </span>
</a>

{% for banner in site.data.banner-research %}
<div id="research" class="hero" style="background-image: url('{{banner.background}}')">
    <div class="content">
        <h1>{{banner.title}}</h1>
        <p class="hide-lanscape">{{banner.description}}</p>
    </div>
</div>
{% endfor %}

{% assign uniq-section = site.research | group_by: "section" | sort: 'name'| uniq %}
{% for section in uniq-section %}
<section id="{{ section.name }}">
    <div class="row">

        <div class="col-md-3 mb-sm-3">
            {% assign items = section.items %}
            {% for item in items %}
                {% if item.imageLeft %}
                    <img src="{{ item.image }}" class="img-fluid" alt="{{ item.image-alt }}">
                {% endif %}
            {% endfor %}
        </div>

        <div class="col-md-6">
            <ul class="nav nav-pills pill-style mb-3" id="myTab" role="tablist">
                {% assign items = section.items | reverse %}
                {% for item in items %}
                <li class="nav-item">
                    <a class="nav-link text-capitalize{% if forloop.first %} active{% endif %}" id="{{ item.name }}-tab" data-toggle="tab" href="#{{ item.section }}-{{ item.name }}" role="tab" aria-controls="{{ item.name }}" aria-selected="true">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>

            <div class="tab-content" id="myTabContent">
                {% assign items = section.items | reverse %}
                {% for item in items %}
                    <div class="tab-pane fade{% if forloop.first %} show active{% endif %}" id="{{ item.section }}-{{ item.name }}" role="tabpanel" aria-labelledby="{{ item.name }}-tab">
                    {{ item.content }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-3 pr-0">
            {% assign items = section.items %}
            {% for item in items %}
                {% if item.imageLeft == false %}
                    <img src="{{ item.image }}" class="img-fluid" alt="{{ item.image-alt }}">
                {% endif %}
                {% if item.imageLeft %}
                <div class="container-fluid pr-0">
                    <div class="row">
                       <div class="col-md-3 col-sm-auto p-0">
                           <img src="/assets/images/sentients_research.png" alt="sentient logo" width="70" height="63">
                       </div>
                       <div class="col-md-9 col-sm pr-0 subtitle-size">
                           <strong>{{ item.image-title }}</strong>
                       </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
</section>
{% unless forloop.last %}<section class="p-0"><hr></section>{% endunless %}
{% endfor %}