<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ "/assets/js/sweetalert2.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/app.js" | prepend: site.baseurl }}"></script>

<section class="fluid" id="contact-us">
  <div class="wrapper">
    <h1 class="title text-center has-subtitle mt-5">Book a Free Virtual Strategy Session</h1>
    <div class="text">
      <p class="sub-title text-center">What will Sentient System help you do in your business?</p>
      <p class="mt-2">We will build a picture where you are compared to other inudstry players, in terms of using humans versus AI and machines. where you could be in 5-10 years time and a potential roadmap of how you cloud get there.</p>
    </div>

    <div class="form-container">
      <form name="contact" method="POST" id="contact" netlify>
        <div class="row">
          <div class="col-md-4"><input name="name" class="field" type="text" placeholder="Name"></div>
          <div class="col-md-8"><input name="email" class="field" type="email" placeholder="Email"></div>
          <div class="col-md-4"><input name="business-name" class="field" type="text" placeholder="Business Name"></div>
          <div class="col-md-6"><input name="phone-number" class="field" type="tel" placeholder="Phone Number"></div>
          <div class="col-md-2"><button class="btn btn-100" type="submit">SUBMIT</button></div>
        </div>
      </form>
    </div>

  </div>
</section>