/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}


/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
        -moz-transition-property: all;
        -o-transition-property: all;
        -webkit-transition-property: all;
        transition-property: all;
        -moz-transition-duration: .2s;
        -o-transition-duration: .2s;
        -webkit-transition-duration: .2s;
        transition-duration: .2s;
    }

    &:hover {
        color: $text-color;
        -moz-transition-property: all;
        -o-transition-property: all;
        -webkit-transition-property: all;
        transition-property: all;
        -moz-transition-duration: .2s;
        -o-transition-duration: .2s;
        -webkit-transition-duration: .2s;
        transition-duration: .2s;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Override sweetalert style
 */
.swal2-popup .swal2-styled.swal2-confirm {
    background-color: $brand-color !important
}

/**
 * Wrapper
 */
.wrapper {
    max-width: $content-width;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

/**
 * Page Wrapper
 */
.page-wrapper {
    max-width: $content-width;
    margin-right: auto;
    margin-left: auto;
    padding-top: 8%;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



section {
    max-width: $content-width;
    padding: 35px $spacing-unit;
    margin: 0 auto;

    .title {
        font-size: 32px;
        font-weight: 700;
        @include media-query($on-mobile) {
            font-size: 28px;
            line-height: 1;
            margin-bottom: 10px;
        }
    }

    &.fluid {
        max-width: 100% !important
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * button ( .btn )
 */
.btn {
    background: $brand-color;
    border: solid 1px $brand-color;
    color: #fff !important;
    padding: 9px 20px;
    border-radius: 3px;
    cursor: pointer;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;

    &.btn-100 {
        width: 100%;
    }
}

.btn:hover {
    background:darken($brand-color,15%);
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}

/**
 * Input
 */
.form-container {
    .field {
        border:none;
        padding: 10px;
        width: 100%;
        border-radius: 3px;
    }

    .row {
        div {
            padding: 5px;
            display: flex;

            @include media-query($on-mobile) {
                padding: 5px 0;
                width: 100%;
                display: flex;
            }
        }
    }
}

/**
 * Site header
 */
@media screen and (min-width: $on-tablet) and (max-width: $on-tablet-hor) {
    .hide-sm {
        display: none;
    }
}
.site-nav {
    float: right;
    line-height: 55px;
    padding: 20px 0;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $sitenav-color;
        line-height: $base-line-height;
        font-family: Arial,sans-serif;
        font-weight: 500;


        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }

        @include media-query($on-tablet) {
            background: #fff;
            text-align: left;
            padding: 9px 19px !important;
            margin-left: 20px !important;
            border-bottom: solid 1px #eaeaea !important;
        }

        @media screen and (min-width: $on-tablet) and (max-width: $on-tablet-hor) {
            font-size: 20px;
            letter-spacing: -0.2px;
        }

        @media screen and (min-width: 1100px){
            font-size: 20px;
            letter-spacing: -0.2px;
        }
    }

    @include media-query($on-tablet) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        border-radius: 5px;
        text-align: right;
        width: 100%;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $brand-color;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
            margin-top: 59px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}


/* site-header */
header {
    min-height: 56px;
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 9;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;

    &.fixed-header {
        background: #fff;
        box-shadow: 0 4px 15px 0 rgba(0,0,0,.1);
    }


    .logo {
        display: inline-block;
        padding: 20px 0;

        img {
            max-height: 55px;
            -moz-transition-property: all;
            -o-transition-property: all;
            -webkit-transition-property: all;
            transition-property: all;
            -moz-transition-duration: .2s;
            -o-transition-duration: .2s;
            -webkit-transition-duration: .2s;
            transition-duration: .2s;
        }
    }
}

.fixed-header {
    .logo {
        img {
            max-height: 40px !important;
        }
    }

    .site-nav {
        line-height: 40px !important;

        @include media-query($on-mobile) {
            top: 0px !important;
        }

        @include media-query($on-tablet) {
            .trigger {
                margin-top: 51px !important;
            }
        }
    }
}

/* hero or banner */
.hero {
    height: 100vh;
    background: #f7f7f7;
    text-align: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    @include media-query($on-mobile) {
        height: 90vh
    }

    @include media-query($on-tablet) {
        height: 55vh
    }

    .content {
        width: 100%;
        max-width: $content-width;
        padding-right: $spacing-unit;
        padding-left: $spacing-unit;
        display: inline-block;
        margin: 17% auto 0 auto;

        @include media-query($on-tablet) {
            margin: 20% auto 0 auto;
        }

        @include media-query($on-mobile) {
            width: auto;
            display: inline-block;
            margin: 30% auto 0 auto;
            padding: 20px;
        }

        h1 {
            font-weight: 700;
            font-size: 40px;
            color: #5b72ab;
            @include media-query($on-mobile) {
                font-size: 35px;
                line-height: 1;
                margin-top: 15px;
            }
        }

        p {
            font-size: 19px;
            color: #5b72ab;

            @include media-query($on-mobile) {
                font-size: 16px;
                color: #b3e6ee;
            }

        }
    }

    img {
        position: absolute;
        bottom: -90px;
        width: 45%;
        left: 0;
        right: 0;
        margin: 0 auto;

        @include media-query($on-tablet) {
            opacity: 0;
        }

        @include media-query($on-tablet-hor) {
            bottom: -60px;
            width: 45%
        }
    }
}

/**
 * Blurb 4
 */
.blurb-4 {
    .item {
        padding: 0 15px;
        margin-bottom: 15px;

        h3 {
            font-weight: 700;
            text-align: center
        }

        .icon {
            min-height: 105px;
            text-align: center;

            img {
                width: 75%;
                text-align: center;
                @include media-query($on-mobile) {
                    min-width: 115px;
                    margin-bottom: 20px;
                }
            }
        }

        p {
            text-align: left;
        }
    }
}

/**
 * Blurb 3
 */
.blurb-3 {
    .item {
        padding: 0 20px;
        min-height: 260px;
        margin-bottom: 15px;

        h3 {
            text-align: center;
            font-weight: 700;
        }

        .icon {
            min-height: 105px;
            text-align: center;

            img {
                width: 75%;
                text-align: center;
                @include media-query($on-mobile) {
                    min-width: 115px;
                    margin-bottom: 20px;
                }
            }
        }

        p {
            margin-bottom: 0
        }

        a {
            color: $brand-color;
        }
    }
 }

/**
 * Blurb image
 */
.blurb-image {
    .item {
        margin-bottom: 25px;

        h3 {
            margin-bottom: 5px;
            font-weight: bold;
        }

        .image {
            position: relative;
        }

        .subtitle {
            position: absolute;
            width: 100%;
            background: $brand-color;
            top: 45%;
            text-align: center;
            font-size: 17px;
            padding: 5px 0;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}

/**
 * Contract section
 */
#contact-us {
    background-image: url(/assets/images/banner.jpeg);
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include media-query($on-mobile) {
        height: auto;
        min-height: 100vh
    }

    .wrapper {
        max-width: 850px;
    }
}

/**
 * How does it work
 */
#how-does-it-work {
    .wrapper {
        max-width: 780px;
        @include media-query($on-mobile) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    h3 {
        font-size: 17px;
        line-height: 1.1
    }

    .instrument-input {
        background: #E5EBF1
    }
    .concept {
        background: #D5E0ED;

        @include media-query($on-tablet) {
            .mb-1 {
                margin-top: -17px;
            }
        }
    }
    .simulate {
        background: #C4D6E8;

        @include media-query($on-tablet) {
            .mb-1 {
                margin-top: -10px;
            }
        }
    }
    .analyse {
        background: #B4CBE2
    }
    .execute {
        background: #A3C1DF
    }
}

/* fix for table */
@include media-query($on-tablet) {
    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}