<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

        {% include header.html %}
        <div class="page-wrapper">

            <div class="hero-title">
                <h1 class="top-title">{{ page.title }}</h1>
            </div>

            {% assign sorted = site.case-studies | sort: 'post-order', 'first' %}
            {% for item in sorted %}
                {{ item.content }}
                {% unless forloop.last %}
                <hr>
                {% endunless %}
            {% endfor %}

        </div>

        {% include footer.html %}

    </body>

</html>